body{
    background-color: #9755b1;
}
header{
    background-color: #994bb8;
    padding: 25PX;
}
nav{
    background-color: #080808;
    padding: 10PX;
}
section{
    background-color: #141414;
}
article{
    background-color: #6d3a9c;
}
aside{
    background-color: #9c48bd;
    width: 30%;
    float: right;
}
footer{
    background-color: rgb(167, 87, 199);
}
img{
    width: 200px;
    height: 200px;
    border-radius: 90px;
}
    footer{
        background-color: rgb(131, 77, 138);
        color: aliceblue;
        padding: 30px 0;
    }
    .container{
        max-width: 800px;
        margin: 0 auto;
        padding: 0 20px;
    }
    .footer-content{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-section{
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    }
    .about{
    text-align: center;
    }
    .about h2{
        margin-bottom: 20px;
    }
    .about p{
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .contact-links{
        display: flex;
        justify-content: center;
    }
    .contact-links a{
        display: inline-block;
        color: bisque;
        font-size: 24px;
        margin: 0 10px;
        transition: all 0.3s ease;
    }
    .contact-links a:hover{
        transform: translateY(-5px);
    }
    table{
        background-color: whitesmoke;
        width: 700px;
        position: center;
    }
    cc{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: rgb(47, 84, 114);
    }
